body {
    background-color: var(--background1);
    display: table;
}
#canvas-div {
    display: table-cell;
    width: 60%;

}
canvas {
    height: 100vh;
}
#button-div {
    padding: 0.2em;
    
}